@font-face {
  font-family: "iconfont"; /* Project id 2626423 */
  src: url('iconfont.woff2?t=1624353645104') format('woff2'),
       url('iconfont.woff?t=1624353645104') format('woff'),
       url('iconfont.ttf?t=1624353645104') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.cw-tubiaozhizuomoban-13:before {
  content: "\e601";
}

.cw-icon_shijian:before {
  content: "\e603";
}

.cw-icon_biji:before {
  content: "\e604";
}

.cw-icon_shezhi:before {
  content: "\e605";
}

.cw-icon_bianji:before {
  content: "\e606";
}

.cw-icon_shoucang:before {
  content: "\e607";
}

.cw-icon_wode:before {
  content: "\e608";
}

.cw-icon_paihang:before {
  content: "\e609";
}

.cw-icon_zhishiku:before {
  content: "\e60a";
}

.cw-icon_fasong:before {
  content: "\e60b";
}

.cw-icon_yincang:before {
  content: "\e60c";
}

.cw-icon_sousuo:before {
  content: "\e60d";
}

.cw-icon_fenxiang:before {
  content: "\e60e";
}

.cw-icon_tupian:before {
  content: "\e60f";
}

