//三基色
$at-green:#14b414;
$at-blue:#00b4f4;
$at-yellow:#ffd200;
$at-red:#ff6252;
$at-black:#222;
// 白的
$at-white:#fff;
$at-gray:#666;
$at-gray-9:#999;
// 网页背景色
$at-gray-b:#eeedf2;


$at-number-4:4px;
$at-number-5:5px;
$at-number-10:10px;
$at-number-15:15px;
$at-number-18:18px;

// 行高
$at-lineHeight-50:50px;
$at-lineHeight-60:60px;


// 字体大小
$at-font-15:12px;
$at-font-16:16px;
$at-font-20:20px;
$at-font-22:22px;
$at-font-25:25px;

// 高度
$at-height-50:50px;