$--color-primary: #409EFF;
$--font-path: '~element-ui/lib/theme-chalk/fonts';
@import "~element-ui/packages/theme-chalk/src/index";

// 样式放在下面才生效
.el-menu{
    background-color: #409EFF;
}
.el-submenu__title{
    color: #303133;
}
.contain-left {
    background-color: #409EFF;
}